@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment #3 - Rohan Tankala</h1>
        <p class="lead">The purpose of this application is to display lists of Album, MediaType, Track, and Playlist objects derived from the tables of the built-in database respectively. The app also facilitates the adding and editing of Track objects with respect to the many-to-many association with the Playlist object.</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>to build the API call for creating and editing use cases regarding that of objects associated in the many-to-many network.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>Write a paragraph discussing some of the problems you ran in to while completing the assignment.</p>
        </section>
    </div>
</main>